div.track {
	margin: 2px;
	vertical-align: center;
	background-color: rgb(180, 180, 180);

	border-left: 2px solid rgb(240, 240, 240);
	border-top: 2px solid rgb(240, 240, 240);
	border-bottom: 2px solid rgb(200, 200, 200);
	border-right: 2px solid rgb(200, 200, 200);
}

div.locked {
	background-color: rgb(127, 127, 127);
	vertical-align: inherit;

	padding: 10pt;
}

div.unlocked {
	background-color: rgb(230, 230, 230);
	vertical-align: inherit;

	padding: 10pt;
}

div.focused {
	background-color: rgb(250, 250, 250);
	vertical-align: inherit;

	padding: 10pt;
}